.clients {
  display: flex;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-item:not(:first-child) {
  margin-left: var(--main-margin);
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--team-social-icon-color);
  border-radius: var(--main-border-radius);
  transition: border-color 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-icon {
  fill: var(--team-social-icon-color);
  transition: fill 250ms var(--timing-function);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}
