.features {
  @include section($padding-bottom: 0px);
}

.features__container {
  @extend %container;
}

.features__title {
  @extend %title;
}

.features-list {
  display: flex;
  margin-left: calc(-1 * 30px);
}

.features-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.features-list__icon {
  @include centeredFlex();

  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;

  margin-bottom: 30px;
}

.features-list__name {
  @include subtitle();
  margin-bottom: 10px;
}

.features-list__desc {
  @include font(14px, 400, 24px);
}
