.features {
  @include section($padding-bottom: 0px);
}

.features__container {
  @extend %container;
}

.features__title {
  @extend %title;
}

.features__list {
  display: flex;
  margin-left: calc(-1 * var(--main-margin));
}

.features__item {
  flex-basis: calc(100% / 4 - var(--main-margin));
  margin-left: var(--main-margin);
}

.features__icon {
  @include centeredFlex();

  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--main-border-radius);

  margin-bottom: var(--main-margin);
}

.features__name {
  @include subtitle();
  margin-bottom: var(--small-margin);
}

.features__desc {
  font-size: var(--main-text-size);
  line-height: 1.71;
}
