.team {
  @include section();
  background-color: var(--secondary-bg-color);
}

.team__container {
  @extend %container;
}

.team__title {
  @extend %title;
}

.team__list {
  display: flex;
  margin-left: calc(-1 * 30px);
}

.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--main-margin);

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  padding-top: var(--main-margin);
  padding-bottom: var(--main-margin);
}

.team__desc {
  text-align: center;
  margin-bottom: 16px;

  font-size: var(--main-title-size);
  line-height: 1.19;
}

.team__name {
  @extend .team__desc;
  margin-bottom: var(--small-margin);
  color: var(--title-text-color);
  font-weight: 500;
}
