.works {
  @include section();
}

.works__container {
  @extend %container;
}

.works__title {
  @extend %title;
}

.works-list {
  display: flex;
  margin-left: calc(-1 * 30px);
}

.works-list__item {
  position: relative;
  overflow: hidden;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.works-list__label {
  @include centeredFlex();

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: var(--work-overlay-color);
}

.works-list__name {
  @include subtitle($color: var(--primary-bg-color));
}
