.works {
  display: flex;
  margin-left: calc(-1 * var(--main-margin));
}

.work-item {
  position: relative;
  overflow: hidden;
  flex-basis: calc(100% / 3 - var(--main-margin));
  margin-left: var(--main-margin);
}

.work-label {
  @include centeredFlex();

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: var(--work-overlay-color);
}

.work-title {
  color: var(--primary-bg-color);
}
