.works {
  @include section();
}

.works__container {
  @extend %container;
}

.works__title {
  @extend %title;
}

.works__list {
  display: flex;
  margin-left: calc(-1 * var(--main-margin));
}

.works__item {
  position: relative;
  overflow: hidden;
  flex-basis: calc(100% / 3 - var(--main-margin));
  margin-left: var(--main-margin);
}

.works__label {
  @include centeredFlex();

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: var(--work-overlay-color);
}

.works__name {
  @include subtitle($color: var(--primary-bg-color));
}
