.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:first-child) {
  margin-left: var(--small-margin);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-link.member {
  background-color: var(--primary-bg-color);
}

.social-icon.member {
  fill: var(--team-social-icon-color);
  transition: fill 250ms var(--timing-function);
}

.social-link.member:hover .social-icon,
.social-link.member:focus .social-icon {
  fill: var(--primary-bg-color);
}

.social-link.footer {
  background-color: var(--footer-social-bg-color);
}

.social-icon.footer {
  fill: var(--primary-bg-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
