.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;

  &:not(:first-child) {
    margin-left: var(--small-margin);
  }
}

.social-link {
  @include centeredFlex();
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);

  &.member {
    background-color: var(--primary-bg-color);

    &:hover .social-icon,
    &:focus .social-icon {
      fill: var(--primary-bg-color);
    }
  }

  &.footer {
    background-color: var(--footer-social-bg-color);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  &.member {
    fill: var(--team-social-icon-color);
    transition: fill 250ms var(--timing-function);
  }

  &.footer {
    fill: var(--primary-bg-color);
  }
}
